<div class = "container">
  <% if @user.id == current_user.id %>
    <div class = "follow_field">
      <p class = "following_index">フォロー: <%= link_to @user.follow_count, following_user_path(@user.id) %></p>
      <p class = "followed_index">フォロワー: <%= link_to @user.followers_count, followed_user_path(@user.id) %></p>
    </div>
  <% end %>
  <div id="user-<%= @user.id %>" class="collection-item">
    <%= render 'users/follow', user: @user %>
  </div>
  <div class = "row">
    <div class="col-md-6">
      <h2 class = "Submitted_title">お気に入り一覧</h2>
      <% if @favorites.empty? %>
        <p>お気に入りにしている曲はありません</p>
      <% end %>
      <div class="infinite_list">
        <% @favorites.each do |favorite| %>
          <div class = "infinite_box">
            <%= link_to song_path(favorite.song.id) do %>
              <%= image_tag favorite.song.image.to_s, size: '110x75' %>
              <div class = "infinite_text"><%= favorite.song.name %></div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-md-6">
      <h2 class = "Submitted_title">投稿曲一覧</h2>
      <% if @songs.empty? %>
       <p>投稿した曲はありません</p>
      <% end %>
      <div class = "infinite_list">
        <% @songs.each do |song| %>
          <div class = "infinite_box">
            <%= link_to song_path(song.id) do %>
              <%= image_tag song.image.to_s, size: '110x75' %>
              <div class = "infinite_text"><%= song.name %></div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class = "row bottom_field">
    <div class="col-md-6">
      <h2 class = "Submitted_title">参加しているコミュニティ一覧</h2>
      <% if @user.communities.empty? %>
        <p>参加しているコミュニティはありません</p>
      <% end %>
      <div class = "infinite_list">
        <% @user.communities.each do |community| %>
          <div class = "infinite_box">
            <%= link_to community_path(community.id) do %>
              <%= image_tag attachment_url(community, :community_image, :fill, 80, 50, fallback: "no_image.jpg") %>
              <div class = "infinite_text"><%= community.name %></div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-md-6">
      <h2 class = "Submitted_title">閲覧履歴</h2>
      <% if @user.browsing_histories.empty? %>
        <p>閲覧履歴はありません</p>
      <% end %>
      <div class = "infinite_list">
        <% @user.browsing_histories.each do |history| %>
          <div class = "infinite_box">
            <%= link_to song_path(history.song.id) do %>
              <%= image_tag history.song.image.to_s, size: '110x75' %>
              <div class = "infinite_text"><%= history.song.name %></div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class = "row">
    <% if @user.id == current_user.id %>
      <h2 class = "Submitted_title">ユーザー情報編集</h2>
      <%= form_for(@user) do |f| %>
        <%= render 'share/error_messages', object: f.object %>
        <div class = "profile_edit">
          <ul>
            <li class = text_field>
              <%= f.label :email, {class: 'label_list'} %>
              <%= f.text_field :email, :class => "name_field", :size=>"20" %>
            </li>
            <li class = "text_field">
              <%= f.label :name, {class: 'label_list'} %>
              <%= f.text_field :name, :class => "name_field",:size=>"20" %>
            </li>
            <li class = "text_field">
              <%= f.label :introduction, {class: 'label_list'} %>
              <%= f.text_area :introduction %>
            </li>
            <li class = "text_field">
              <div class = "profile_image">
                <%= attachment_image_tag @user, :profile_image, :fill,100,100  , fallback: "no_image.jpg",size: '100x100' %>
              </div>
              <%= f.label :image, {class: 'label_list'} %>
              <%= f.attachment_field :profile_image %>
            </li>
            <li class = "submit_field">
              <%= f.submit '変更する', :class => 'btn btn-primary'   %>
            </li>
          </ul>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
