<div class="container">
  <h3>楽曲検索結果</h3>
  <% if @songs.empty? %>
    <p><%= "#{params[:q][:name_or_artist_cont ]}  に一致する検索結果は見つかりませんでした" %></p>
    <p><%= "検索のヒント:" %></p>
    <ul>
      <li> キーワードに誤字・脱字がないか確認します。</li>
      <li> 別のキーワードを試してみます。</li>
    </ul>
  <% end %>
  <hr class="my-4">
  <% @songs.each do |song| %>
    <div class="row">
      <div class="col-md-7 col-md-offset-2">
        <div class="row">
          <%= link_to song_path(song.id) do %>
            <div class="col-md-4 pucture_field">
                <%= image_tag song.image.to_s, size: '180x120' %>
            </div>
            <div class="col-md-8 name_space">
              <p><%= song.name %></p>
              <p><%= song.artist %></p>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
