
<div class = "container">
	<%= @song.name %>
	<%= @song.artist %>

	<div class = "song_description">
		<%= @song.description %>
	</div>

	<div class = "song_video">
		<iframe width="700" height="410" src="https://www.youtube.com/embed/<%= @song.vid %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</div>
	閲覧数: <%= @song.impressionist_count %>
	<div class = "comment-box">
		<div class ="contents row">
			<div id="comments_area">
      		<!-- 投稿されたコメント一覧をブログの詳細ページに表示するためのrender -->
      		<%= render partial: 'comments/index', locals: { comments: @comments } %>
    		</div>
    		<% if user_signed_in? %>
      		<!-- コメント入力欄をブログの詳細ページに表示するためのrender -->
      			<%= render partial: 'comments/form', locals: { comment: @comment, song: @song } %>
   			<% end %>
  		</div>
  	</div>
  	<%= render "favorites/favorite", song: @song %>
</div>
