<!DOCTYPE html>
<html>
  <head>
    <title>DMK</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.0.10/font-awesome-animation.css" type="text/css" media="all" />
    <meta charset="UTF-8">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jscroll/2.4.1/jquery.jscroll.min.js"></script>
  </head>

  <body>
    <div class="flash-field"></div>

    <%= render 'share/flash_messages.html' %>

    <%= render 'share/header' %>

    <%= yield %>

    <%= render 'share/footer' %>

  </body>
</html>
